.pageBackground {
  background-color: #33CEFF;
  height: 100vh;
}

.userDataOutput {
  width: 80%;
  height: 50px;
  padding: 30px;
  margin: auto;
  border: 1px solid white;
  background-color: #33A8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signWrapper {
  min-height: 100px;
}
