.welcomeSign{
  max-width: 400px;
  height: 50px;
  padding: 30px;
  margin: auto;
  border: 1px solid white;
  background-color: #33A8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
